@using BLL.Models.Enum
@model BLL.Models.Enum.BadBoyStatusEnum
<div class="game-container">
    <div id="frame_1" class="frame @Html.Raw((Model == BadBoyStatusEnum.Init)? "active" : (Model == BadBoyStatusEnum.Death)? "active" : "")"></div>
    <div id="frame_2" class="frame @Html.Raw((Model == BadBoyStatusEnum.Init)? "active" : (Model == BadBoyStatusEnum.Death)? "active" : "")"></div>
    <div id="frame_3" class="frame @Html.Raw((Model == BadBoyStatusEnum.Init)? "active" : (Model == BadBoyStatusEnum.Death)? "active" : "")"></div>
    <div id="rope" class="frame @Html.Raw((Model == BadBoyStatusEnum.Init)? "active" : (Model == BadBoyStatusEnum.Death)? "active" : "")"></div>
    <div id="man" class="@Html.Raw((Model == BadBoyStatusEnum.Init)? "" : (Model == BadBoyStatusEnum.Death)? "active" : "")">
        <div id="head">
            <div class="eye"></div>
            <div class="eye"></div>
        </div>
        <div id="body" class="frame"></div>
        <div id="limb_1" class="limb"></div>
        <div id="limb_2" class="limb"></div>
        <div id="limb_3" class="limb"></div>
        <div id="limb_4" class="limb"></div>
    </div>
    <div id="stand" class="@Html.Raw((Model == BadBoyStatusEnum.Init)? "active" : (Model == BadBoyStatusEnum.Death)? "hiden" : "")"></div>
</div>